* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #312e38;
}

header nav {
  display: none;
  height: 100vh;
}

nav.mobile-menu {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-image: url("./img/menu.png");
  background-size: 100% 100%;
}

nav.mobile-menu ul {
  opacity: 0;
  transition: 1s;
  position: absolute;
  left: 0px;
  top: 3px;
  width: 100%;
  list-style-type: none;
  background-color: white;
  text-align: center;
}

nav.mobile-menu ul li:hover {
  background-color: #ccc;
}

nav.mobile-menu:hover ul {
  opacity: 1;
}

nav.mobile-menu ul li {
  padding: 18px 0;
  border-bottom: 1px solid black;
  transition: 1s;
}

nav.mobile-menu ul li a {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  header nav {
    display: block;
  }
  nav.mobile-menu {
    display: block;
  }
}
